html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#map {
    height: 100%;
    width: 80%;
    float: right;
}

#menu {
    height: 100%;
    width: 17%;
    float: left;
    overflow-y: auto;
    background-color: #9AC2FF;
    padding: 20px;
}

/* Style the menu items */
.menu-item {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #bbb;
}

.coordinate-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 7px;
}

.direction {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}